<h3>Commissioner Tools</h3>
<br>
<div class="commish-tools">
    <div class="commish-tools-lists">
        <h6>New Season</h6>
        <ul>
            <li>Set Keepers</li>
            <li>Add Players to Teams</li>
        </ul>

        <h6>Weekly</h6>
        <ul>
            <li>Newsletter</li>
            <li>Edit Player Scores</li>
        </ul>

        <h6>Transactions</h6>
        <ul>
            <li>New Trade</li>
            <li>View/Delete Trades</li>
            <li>Place Player on IR</li>
            <li>View/Edit Injured Reserves</li>
        </ul>

        <h6>Owners</h6>
        <ul>
            <li>New Owner</li>
            <li>View Owners</li>
        </ul>
    </div>

    <div class="commish-tools-buttons">
        <h6 style="padding-bottom: 7px">Player Maintenance</h6>
        <p><%= button_to 'Add New Players to Available', commissioner_create_new_players_path %></p>
        <p><button>Update Players NFL Data</button></p>
    </div>
</div>