<p>List all Commish tools</p>
<h6>New Season</h6>
<ul>
    <li>Set Keepers</li>
    <li>Add Players to Teams</li>
</ul>

<h6>Weekly</h6>
<ul>
    <li>Newsletter</li>
    <li>Edit Player Scores</li>
</ul>

<h6>Transactions</h6>
<ul>
    <li>New Trade</li>
    <li>View Trades</li>
    <li>Place Player on IR</li>
    <li>View Injured Reserves</li>
</ul>

<h6>Owners</h6>
<ul>
    <li>New Owner</li>
    <li>View Owners</li>
</ul>