<div class="tools-left">
    <h3><%= "#{@year} Trades" %></h3>
    <p style="color:red"><em>Note: Deleting trades will remove it from being displayed, but not reverse the transaction.</em></p>
    <% @trades.each do |trade| %>
        <% trade.display.each do |team| %>
            <%= team %>
            <br>
        <% end %>
        <div class="delete-font">
            <%= link_to "Delete Trade", commissioner_trade_path(trade), method: "delete", 
            data: { confirm: "Delete trade between #{trade.team_one} and #{trade.team_two}?" } %>
        </div>
        <br>
    <% end %>
</div>