/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

body {
  color: rgb(0, 0, 66);
}

main {
  margin-left: 15px;
  margin-top: 30px;
}

.no-bullet {
  list-style: none;
}

.dropdown-teams-avail {
  position: absolute;
  left: 35%;
  top: 80px;
}

.header-available {
  position: absolute;
  left: 40px;
}

.line-height {
  line-height: 0.8;
}

.player-scroll {
  position: absolute;
  top: 136px;
  left: 0px;
  right: 75%;
  bottom: 0%;
  overflow-y: scroll;
}

#avail-player-search {
  background-image: url("search-icon.png");
  background-size: 6%;
  background-position: 5px 5px;
  background-repeat: no-repeat;
  width: 130%;
  padding-left: 30px;
}

.trade-team,
.ir-team {
  float: left;
  width: 33.33%;
}

.delete-font {
  font-size: 13.5px;
}

#week-effective {
  display: inline-block;
}

.header-left {
  margin-left: 30px;
}

input#email,
input#password {
  width: 300px;
}

input[type="submit"] {
  width: 175px;
}

nav a:link,
nav a:visited,
nav a:hover,
nav a:active {
  text-decoration: none;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 5px 5px 5px 5px;
}

nav {
  background-color: rgb(0, 0, 66);
  color: white;
  padding: 6px 6px 6px 6px;
  position: fixed;
  top: 0;
  width: 100%;
}

button {
  width: 225px;
}

div.commish-tools div {
  float: left;
  width: 23%;
}

div.commish-tools-lists ul {
  list-style-type: none;
  padding-left: 10px;
}

div.commish-tools li {
  line-height: 1.7;
}

.header-note {
  color: red;
  font-style: italic;
}
