/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

body {
  margin-top: 12px;
  color: rgb(0, 0, 66);
}

.no-bullet {
  list-style: none;
}

.dropdown-teams-avail {
  position: absolute;
  left: 35%;
  top: 49px;
}

.header-available {
  position: absolute;
  left: 40px;
}

.line-height {
  line-height: 0.8;
}

.player-scroll {
  position: absolute;
  top: 87px;
  left: 0px;
  right: 75%;
  bottom: 0%;
  overflow-y: scroll;
}

#avail-player-search {
  background-image: url("search-icon.png");
  background-size: 6%;
  background-position: 5px 5px;
  background-repeat: no-repeat;
  width: 130%;
  padding-left: 30px;
}

.trade-team {
  float: left;
  width: 33.33%;
}

.tools-left {
  margin-left: 15px;
}

.delete-font {
  font-size: 13.5px;
}
